* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /*background-color: #333;*/
    background-color: #444;/*#480058 #585858*/
    display: flex;
    align-items: center;
    font-size: min(5vw, 3rem);
    flex-direction: column;
    color: white;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    vertical-align: middle;
  }
  
  .title {
    margin: 20px;
  }
  
  .subtext {
    color: #CCC;
    font-size: min(2.5vw, 1.5rem);
    margin-bottom: 10px;
  }
  
  .board {
    display: inline-grid;
    padding: 0.3vw;
    grid-template-columns: repeat(var(--size), 3.1vw);
    grid-template-rows: repeat(var(--size), 3.1vw);
    gap: 0.1vw;
    background-color: #777;
  }
  
  .board > * {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.3vw outset #BBB;
    user-select: none;
  }

  #input_text {
    font-size: min(2.5vw, 1.5rem);
  }

  div {
    font-size: min(2.5vw, 3rem);
  }

  #togglee {
    background-color: #777;
    border: 0.6vw outset #444;
    padding: 0px 0.6vw;
    font-size: min(2.5vw, 3rem);
    cursor: pointer;
  }
  
  .board > [data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
  }
  
  .board > [data-status="mine"] {
    background-color: red;
  }
  
  .board > [data-status="number"] {
    background-color: none;
  }
  
  .board > [data-status="marked"] {
    background-color: yellow;
    /*background-image: url('images/flag.png');*/
  }