  * {
    box-sizing: border-box;
  }

  /*Elements*/
  
  body {
    margin: 0;
    /*background-color: #444;*/
    background-image: url('https://images4.alphacoders.com/100/1008904.png');
    display: flex;
    font-size: min(5vw, 3rem);
    flex-direction: column;
    color: white;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    align-items: center;
    /*justify-content: center;*/
  }

  input[type="number"] {
    width: min(5vw, 50px);
    height: min(2.4vw, 30px);
    font-size: min(1.5vw, 20px);
    font-family: 'Silkscreen', cursive;
    background-color: #BBB;
    border: 0.2vw outset #BBB;
  }

  div {
    font-size: min(2.5vw, 3rem);
  }

  /*Classes*/
  
  .title {
    margin: 20px;
    font-size: min(5vw, 3rem);
  }
  
  .subtext {
    color: #CCC;
    font-size: min(2.5vw, 1.5rem);
    margin-bottom: 10px;
  }
  
  .board {
    display: inline-grid;
    padding: 0.3vw;
    grid-template-columns: repeat(var(--size), 3.1vw);
    grid-template-rows: repeat(var(--size), 3.1vw);
    gap: 0.1vw;
    background-color: #777;
    align-items: center;
    justify-items: center;
  }
  
  .board > * {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.3vw outset #BBB;
    user-select: none;
  }

  /*IDs*/

  #input_text {
    font-size: min(2.5vw, 1.5rem);
  }

  /*Restart Button*/

  #togglee {
    background-color: #777;
    border: 0.6vw outset #BBB;
    padding: 0px 0.6vw;
    font-size: min(2.5vw, 3rem);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  /*Different Tile Statuses*/
  
  .board > [data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
  }
  
  .board > [data-status="mine"] {
    background-color: red;
    border: 0.3vw outset red;
  }
  
  .board > [data-status="number"] {
    background-color: none;
  }
  
  .board > [data-status="marked"] {
    background-color: yellow;
    border: 0.3vw outset yellow;
  }

  /*Cellphone Responsiveness*/

  @media screen and (max-width: 1197px) {

    .title {
      font-size: min(10vw, 5rem);
    }

    body, #togglee {
      justify-items: center;
      font-size: min(8vw, 3.5rem);
    }

    div {
      font-size: var(--fontSize);
    }

    input[type="number"] {
      width: min(7vw, 50px);
      height: min(4vw, 30px);
      font-size: min(1.5vw, 20px);
      font-family: 'Silkscreen', cursive;
      background-color: #BBB;
      border: 0.3vw outset #BBB;
    }

    /*.board {
      grid-template-columns: repeat(var(--size), var(--boardSize));
      grid-template-rows: repeat(var(--size), var(--boardSize));
    }

    .board > * {
      width: var(--tileSize);
      height: var(--tileSize);
      border: 0.54vw outset #BBB;
    }*/

    .subtext, #input_text {
      font-size: min(4vw, 1.8rem);
    }

    .board {
      grid-template-columns: repeat(var(--size), var(--boardSize));
      grid-template-rows: repeat(var(--size), var(--boardSize));
    }

    .board > * {
      width: var(--tileSize);
      height: var(--tileSize);
      border: var(--borderSize) outset #BBB; /*0.54vw*/
    }

    .board > [data-status="mine"] {
      background-color: red;
      border: var(--borderSize) outset red;
    }

    .board > [data-status="marked"] {
      background-color: yellow;
      border: var(--borderSize) outset yellow;
    }
  }